.card-outer{
    width: 18rem;
    margin: 1rem;
}

.card{
    align-items: center;
}

.imageOuter{
    width: 14rem;
    height: 20rem;
    display: flex;
    align-items: center;
}

.card-img-top{
    padding: 1rem 1.5rem 0rem 1.5rem;
    margin: auto;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price{
    width: fit-content;
}